/* footer */
footer,
.label-large {
    padding: 1rem;
    display: flex;
    font-family: 'Inter', sans-serif;
    justify-content: space-between;
    flex-direction: row;
    background: var(--white);
}

.footer__right,
.footer__left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer__right>div,
.footer__left {
    font-size: .8rem;
}

.footer__right>div,
.footer__left>div {
    margin-right: 1rem;

}

nav {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: flex-end;
    height: auto;
    min-height: 56px;
    max-width: 100%;
    flex-direction: column;
    background: var(--background-color);
    z-index: 9999;
}

nav a {
    width: auto;
    margin-left: 1.1rem;
}

nav a:hover {
    text-decoration: underline;
}

nav a:active {
    text-decoration: underline;
}

nav .nav-closed a {
    display: inline-block;
}

nav .mobile-menu-icon {
    display: none;
}

#topNav {
    display: flex;
}

#topNav>a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
}

.locale-changer {
    margin-left: 10px;
}

@media (max-width: 576px) {
    #topNav {
        display: inline;
    }

    nav {
        padding: 0 1rem;
    }

    nav a {
        max-height: 48px;
        min-width: 48px;
        padding: 12px 0;
        margin-right: 46px;
        text-align: right;
        justify-content: center;
        display: inline-block;
    }

    nav .mobile-menu-icon {
        display: block;
        margin-right: .2rem;
    }

    /* Hide all links despite the icon on mobile*/
    nav .nav-closed a {
        display: none;
    }

    nav .nav-open a {
        display: inline-block;
        padding: 1rem;
    }

    .footer__right>div,
    .footer__left {
        font-size: .4rem;
    }

    .label-large {
        padding: 0.5rem;
    }

    .label-large>a {
        margin: 0;
    }

    .locale-changer {
        margin-left: 30px;
    }
}
